DB_HOST=localhost
DB_PORT=15432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=reader_club

JWT_SECRET=supersecret

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=adminpassword
ADMIN_NAME=System Admin

VISITOR_EMAIL=visitor@example.com
VISITOR_PASSWORD=visitorpassword
VISITOR_NAME=Read Only User
